In [14]:
import pandas as pd

df = pd.read_csv('bybit.csv')
df['time'] = pd.to_datetime(df['time'], unit='s')
df

                     time     open     high      low    close        ADX
0     2020-03-25 10:00:00   6500.0   6591.5   6500.0   6591.5        NaN
1     2020-03-25 11:00:00   6591.5   6628.5   6457.5   6511.5        NaN
2     2020-03-25 12:00:00   6511.5   6588.5   6502.0   6583.5        NaN
3     2020-03-25 13:00:00   6583.5   6745.5   6562.0   6585.0        NaN
4     2020-03-25 14:00:00   6585.0   6640.0   6516.0   6590.0        NaN
...                   ...      ...      ...      ...      ...        ...
39194 2024-09-13 12:00:00  57842.0  57935.0  57579.0  57872.2  16.813150
39195 2024-09-13 13:00:00  57872.2  58141.2  57634.0  58026.1  19.128435
39196 2024-09-13 14:00:00  58026.1  58541.1  57790.0  58432.1  23.703185
39197 2024-09-13 15:00:00  58432.1  59697.7  58341.1  59636.5  36.437503
39198 2024-09-13 16:00:00  59636.5  59788.0  59283.0  59437.9        NaN

[39199 rows x 6 columns]